.contents__img{
  display: inline-block;
  max-width: 100%;
  padding: 20px 0px;
}

.devices{
  display: inline-block;
  margin: 0 -34.5px 80px -34.5px;
  max-width: calc(100% + 34.5px);
  padding: 0;
}

.contents__icons{
  margin-top: 30px;
}

.contents__qExtracts {
  margin-bottom: 170px;
}

.contents__logos{
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 120px;
}

.contents__logos img{
  display: block;
  transform: scale(0.83);
  margin: auto;
  padding: 37px 0 23px;
}

@media screen and (min-width: 1024px) {
  .contents__qExtracts{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

	.contents__imgqExtracts .contents__img{
    display: flex;
    margin: -50px;
    max-width: calc(100% + 50px);
  }

  .contents__imgqExtracts{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contents__imgqExtracts .quickExtract__container__title, .contents__imgqExtracts .quickExtract__container__excerpt {
    text-align: start; 
    
  }

  .quickExtract__container__excerpt{
    padding-left: 10px;
    padding-right: 10px;
  }

  .iconQuickExtract{
    justify-content: center;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 28%);
  }
  
  .contents__logos{
    display: flex;
    margin-left: 6%;
    margin-right: 6%;
  }
}