.Hero{
  background-image: url('../../images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;

  padding: 0 30px;
}

.Hero__container{ 
  justify-content: center;
  padding: 0 34.5px;
}

.Hero__container__logo{
  justify-content: center;
  text-align: center;
  padding: 122px 0 0 0;
}

.Hero__container__title{
  padding: 60px 0 0 0;
}

.Hero__container__excerpt{
  padding: 18.2px 0 45px 0;
}

