* {
  margin: 0;
  padding: 0;
}

:root{
  --green: hsl(171, 66%, 44%);
  --blue: hsl(233, 100%, 69%);
  --titles: hsl(210, 10%, 33%);
  --paragraphs: hsl(201, 11%, 66%);
}

h1, h2, h3{
  color: var(--titles);
}


h1, h2, h3, p, a{
  font-family: 'Bai Jamjuree', sans-serif;
  justify-content: center;
  text-align: center;
}

p, a{
  color: var(--paragraphs);
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}

a{
  text-decoration: none;
  font-weight: 600;
  color: rgb(85, 85, 85);
  width: fit-content;
}

h1{
  font-size: 31px;
}

h2{
  font-size: 27px;
}

.container{
  margin: 0 34.5px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .container{
    margin: 50px 0px;
  }
}